.menu{

	border-bottom: 1px solid black;
	position: fixed;
	background: white;
	width: 100%;
	z-index: 3;
}
.index{
	width: 30%;
float:right;
	height: 100%;
	background: white;
	z-index: 10;
	position: fixed;
	border-left: 1px solid black;
	margin-left: 70%;


}
/* Moving shapes */
.fade {
	animation-name: fade;
	animation-duration: 5s;
  }
  @keyframes fade {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

.content-article> H1 {
	font-size: 1.7em
	}


rect {
	transition: height 2s;
	transition: width 3s;
}
circle{

	transition: r 5s;
	/* transition: width 0.8s; */
}
#circle2 {
	margin-left: auto;
}



/* Navigation */
#sidebar {
margin-left: 5vw;
	z-index: 5;

	width: 100%;


	/*transition: opacity .3s ease-in-out;*/
}



#sidebar a:active {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

#sidebar a:hover {
  background-color: #f0f0f0;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	/* 1em = 10px */
}

/* Fonfaces */



@font-face {
	font-family: 'AtlasGrotesk-Light', sans-serif;
	src: url("/assets/typefaces/AtlasGrotesk-Light.otf") format("opentype");


}

body {
	box-sizing: border-box;
	/* CSS alignements */
	font-family: 'AtlasGrotesk-Light';
	font-size: 1.75rem;
	/* = 18px */
	line-height: 1.3;
	font-weight: 400;
	/* regular */
	/* OpenType features: kerning, ligatures & contextual alternates */
	font-kerning: normal;
	/* CSS3 */
	-webkit-font-feature-settings: "kern"1, "liga"1, "calt"1;
	-moz-font-feature-settings: "kern=1", "liga=1", "calt=1";
	/* Firefox 4.0 to 14.0 */
	-moz-font-feature-settings: "kern"1, "liga"1, "calt"1;
	/* Firefox 15.0 onwards */
	font-feature-settings: "kern"1, "liga"1, "calt"1;
	/* Make rendering look more consistent across platforms */
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;



}

.footnote-backref {
	display: none;
}

.footnote {
	border-top-style:solid;
    border-top-width:thin;
    border-top-color:#999999;
    padding-top: 0.5em;
    width: 280px !important;
}

.font-small {
	font-size: 70%;
	line-height: 1.3;
}

.font-title {
	font-family: 'AtlasGrotesk-Light', sans-serif;
	font-size: 5rem;
	line-height: 1.1;
}

h1 {
	font-family: 'AtlasGrotesk-Light', sans-serif;
	font-size: 2.3em;
}


strong{
	font-family: 'AtlasGrotesk-Light', sans-serif;
}


img
 {
	width: 81%;
	height: auto;
}

a {
	color: #000;
	text-decoration: none;
	border: 0;
	font-family: 'AtlasGrotesk-Light', sans-serif;
}

a:focus {
	outline: 0;
}

p {
	margin-top: 0;
}

ul,
ol,
li {
	text-indent: 0;
	list-style: none;
	padding: 0;
	margin: 0;
}


sup {
	font-size: 65%;
	line-height: 1;
}





.break {
	display: block;
}







