

.title{
	width: 100%;
	border-bottom: 1px solid grey;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	z-index: 12;
	background: white;
	font-size: 1.4rem;
	text-transform: uppercase;

a{
    margin-left: 5vw;


}
}

.highlight {
    background-color: cornflowerblue;
}

em {
    /*display: block;*/
	width: 81%;
	font-size: 1.7rem;
}


html,body {
	padding-left: 10px;
	padding-right: 10px;
	//position: relative;
	scroll-padding-top: 200px;
}

.fade {
	animation-name: fade;
	animation-duration: 2s;
}

blockquote {
	font-family: 'AtlasGrotesk-Light', sans-serif;
	font-size: larger;
}

.paper-title {
	font-family: 'AtlasGrotesk-Light', sans-serif;
	/* Oblique title */
	position: fixed;
	color: white;
	font-size: 50%;
	top: 0;
	width: 30%;
	left: 1%;
	z-index: 5;
	pointer-events: none;
}

.paper-title span.underline {
	/* Underline style */
	padding-bottom: 5px;
}


article {
	position: absolute;
	margin-left: 5vw;
	top: 0;
	padding-top: 185px;
	padding-bottom: 5px;
	width: 50%;
}

.content-article {
	font-size: 1.7rem;
	padding-bottom: 100px;
	margin-right: 140px;
	scroll-behavior: smooth;
}

.notes-images {
	position: absolute;
	right: 35vw;
	margin-right: -230px;
	width: 450px;
	opacity: 0;
}


.footnote-counter {
	//display: block;
}

.footnote>a{
	display: inline-block;
	padding-right: 20px;
	border-bottom: 2px solid transparent;
	white-space: nowrap;
}

.footnote-content {
	display: none;
}

.pourcentage {
	position: fixed;
	width: 4.2vw;
	top: 20px;
	text-align: right;
	z-index: 10;
	pointer-events: none;
}

.numerotation {
	position: absolute;
}

.numero {
	position: absolute;
	text-align: right;
	width: 30px;
	height: 30px;
}

#nombre {
	font-family: 'AtlasGrotesk-Light', sans-serif;
	position: fixed;
	left: 0.1vw;
	bottom: -35px;

}


.r-notes-container {
	top: 0;
	p{


		display: inline;
	}
}

.content-article >h1{

	/*display: none;*/
}

