.title {
  width: 100%;
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  z-index: 5;
  background: white;
  font-size: 1.1vw;
  text-transform: uppercase;

  a {
    margin-left: 5vw;

  }
}

.menu-principal {
  border-bottom: 1px solid grey;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 13px;
  font-size: 1.1vw;
  line-height: 1.6vw;
}

a.compteur_pourcentage {
  margin-left: 1vw;
  float:right;
}

.compteur{
  display: flex;
  float:left;
}

p.pourcent{
  float:left;
}

.menu-principal-sub {
  margin-left: 5vw;
  z-index: 5;
  width: 100%;


  a {

    padding-top: 2px;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }

  .active {
    background-color: #f0f0f0;
    padding-top: 2px;
  }
}


