.menu-right {
  font-family: $secondFont;
  font-size: 0.95vw;
  width: 32%;
  height: 100%;
  background: white;
  z-index: 4;
  position: fixed;
  border-left: 1px solid grey;
  margin-left: 68%;
  overflow-y: scroll;
  padding: 50px 20px 10px 15px;

  a {
    font-size: 1.1vw;
    font-family: $secondFont;
    line-height: 1.6vw;
  }
}

.menu-right-sub {

  margin-bottom: 20px;

  a.active {
    background-color: #f0f0f0;
  }

  a {
    padding-top: 2px;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
}

@for $i from 1 through 100 {
  .open-interview-#{$i} {
    cursor: alias;;
  }
}

//Index

#keywords {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  animation-name: fade;
  animation-duration: 1.5s;
  height: 100%;

  .active {
    text-decoration: underline;

  }

  a {

    width: 33%;
    padding-top: 0;
    padding-bottom: 5px;
    padding-right: 5px;
    font-family: $secondFont;
    font-size: 0.95vw;
    line-height: 1.5;
  }

}

.interviews-list {
  em {
    font-size: 0.95vw;
    line-height: 1.5;
  }

  h1 {
    animation-name: fade;
    animation-duration: 1.5s;
    font-size: 0.95vw;
    cursor: pointer;
    user-select: none;
    font-family: $secondFont;
    font-weight: normal;
    line-height: 1.3;
  }

  h1.active {
    text-decoration: underline;
  }

  h1:first-child {
    margin-bottom: 15px;

  }

  p {
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
    line-height: 1.5;
    padding-right: 20px;
    padding-bottom: 5px;
  }
}


.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sort, .freq {
  margin-left: 10%;

}

