@media screen and (max-width: 1024px) {

  //global

  img {
    width: 60%;
    height: auto;
  }

  article {
    padding-left: 40px;
    padding-top: 155px;
    margin-top: 0;
    margin-left: 0;
    width: 70%;
    position:relative;

  }

  //font-sizes

  .title a, .compteur, .menu-principal-sub, a.interview-menu, a.colophon-menu, a.index-menu {
    font-size: 10px;
    line-height: 14px;
  }

  #content-colophon, strong, #keywords a, .menu-right h1, .menu-right p, .menu-right em  {
    font-size: 10px;
    line-height: 13px;
  }

  .content-article, em {
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-right: 2vw;

  }

.footnote {
  font-size: 8.5px;
}


  //margin-padding

  .title a {
    margin-left: 40px;
  }

  .menu-principal, .menu-right {
    padding-top: 45px;
    padding-bottom: 10px;
  }

  .menu-principal-sub {
    margin-left: 40px;
  }

  .menu-right{
    padding-left: 15px;
  }

  .content-article {
    padding-bottom: 1vw;
    padding-right: 3vw;
  }

  .notes-images {
    position: inherit;
    right: 0;
    margin-right:0;
    width: 100%;
    opacity: 0;
    padding-left: 20px;

  }

  .notes-images > .footnote {
    top: 0 !important;
    position: relative !important;
    margin-left: 5vw;
  }

  .footnote{
    width: 100%;
    border-style: dotted;
    padding-left: 10px;
    padding-bottom: 10px;
    display: block;
    white-space: normal;
  }
}


@media screen and (min-width: 1200px) {

  //global

  img {
    width: 80%;
    height: auto;
  }

  //font-sizes

  .title a, .menu-principal-sub, .compteur, a.interview-menu, a.colophon-menu, a.index-menu {
    font-size: 1.3rem;
    line-height: 1.9rem;

  }

  #content-colophon, strong, #keywords a, .menu-right h1, .menu-right p, .menu-right em  {
    font-size: 1.15rem;
    line-height: 1.6rem;
  }

  .content-article, em {
    font-size: 1.55rem;
    line-height: 2rem;
  }

  .footnote {
    font-size: 1.1rem;
  }

//margin

  .interviews-list{
  padding-right: 30px;
  }

  .menu-principal-sub {
    margin-left: 60px;

  }
}